.brand_container {
  display: flex;
  align-items: center;
}

.brand_container:visited,
.brand_container:active,
.brand_container:focus {
  color: var(--app-blue);
}

.logo {
  margin-left: 15px;
}

.user_profile {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: max-content;
}

@media (max-width: 500px) {
  .logo {
    margin: 0;
  }
}
