.react-tagsinput {
  border-radius: 5px;
  min-height: 45px;
  display: flex;
  align-items: center;
}

.react-tagsinput--focused {
  border-width: 2px;
  border-color: var(--app-sky-blue);
}

.react-tagsinput-tag {
  background-color: var(--app-white);
  border: 1px solid var(--app-gray);
  background: var(--app-gray);
  color: var(--app-white);
  border-radius: 15px;
  padding: 5px 10px;
}
