.react-tagsinput {
  border-radius: 5px;
  min-height: 45px;
  display: flex;
  align-items: center;
}

.react-tagsinput--focused {
  border-width: 2px;
  border-color: #0466c8;
}

.react-tagsinput-tag {
  background-color: #fff;
  border: 1px solid #333;
  background: #333;
  color: #fff;
  border-radius: 15px;
  padding: 5px 10px;
}
