.commentsContainer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.commentsListContainer {
  flex: 1;
}

.commentsListContainer.halfWidth {
  margin-right: 50px;
}

.commentsListInnerContainer {
  height: 200px;
  overflow-y: auto;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.commentsListInnerContainer::-webkit-scrollbar {
  width: 11px;
}

.commentsListInnerContainer::-webkit-scrollbar-thumb {
  background: #111;
  border-radius: 1rem;
}

.commentsListInnerContainer::-webkit-scrollbar-track {
  background: #999;
  border-radius: 1rem;
}

.commentsListItem {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.commentsListItemContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.commentsListItemContentFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
}

.commentsListItemContentFooter span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.commentsListItemContentFooterActions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.commentsListItemContentFooterActions button {
  background: none;
  border: none;
  cursor: pointer;
}
.commentsListItemContentFooterActions button,
.commentsListItemContentFooterActions button:active,
.commentsListItemContentFooterActions button:focus {
  outline: none;
}

.writeCommentBox {
  width: 50%;
  margin-left: auto;
}
