/*****************/
/* POST CONTENT */
/***************/
.postDetailsSection {
  flex: 1;
  margin: 10px;
}

.postCreationDate {
  color: var(--app-black-05);
  font-size: 14px;
}

.postAuthorName {
  text-transform: capitalize;
}

/* .postContentBody {
}

.postText {
} */

.postTextParagraph {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  word-break: break-all;
}

.imageSection {
  float: right;
  margin: 0 10px 10px;
}

.clearFix::after {
  content: "";
  clear: both;
  display: table;
}

.media {
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  max-width: 600px;
  max-height: 500px;
}

.postActionsBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/******************/
/* RELATED POSTS */
/****************/

.relatedPosts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.relatedPostCard {
  cursor: pointer;
  max-width: 300px;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.relatedPostCardImage {
  position: relative;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.relatedPostDetailsBox {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: var(--app-black-05);
  color: var(--app-white);
}

@media (max-width: 500px) {
  .postDetailsSection {
    order: 1;
  }

  .imageSection {
    margin-left: 0;
  }

  .relatedPostsContainer {
    order: 3;
  }

  .relatedPosts {
    justify-items: center;
    grid-template-columns: repeat(auto-fit, 1fr);
  }

  .relatedPostCard {
    min-width: 100%;
    aspect-ratio: none;
  }
}

@media (hover: hover) {
  .relatedPostDetailsBox {
    height: 0;
    transition: height 0.3s ease;
  }

  .relatedPostCard:hover .relatedPostDetailsBox {
    height: 35%;
    padding: 10px;
  }
}

@media (hover: none) {
  .relatedPostDetailsBox {
    height: 30%;
    padding: 10px;
  }
}
